@import '~@angular/material/theming';

@mixin ngx-bottom-nav-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  button[ngx-bottom-nav]:not(.active) {
    --ngx-bottom-nav-button-color: #{rgba(mat-color($primary), 0.7)};
  }

  button[ngx-bottom-nav].active {
    --ngx-bottom-nav-button-active-color: #{mat-color($primary)};
  }

  ngx-bottom-nav.color-primary button[ngx-bottom-nav],
  ngx-bottom-nav.color-accent button[ngx-bottom-nav],
  ngx-bottom-nav.color-warn button[ngx-bottom-nav] {
    --ngx-bottom-nav-button-color: #{rgba(#fff, 0.7)};
  }

  ngx-bottom-nav.color-primary button[ngx-bottom-nav].active,
  ngx-bottom-nav.color-accent button[ngx-bottom-nav].active,
  ngx-bottom-nav.color-warn button[ngx-bottom-nav].active {
    --ngx-bottom-nav-button-active-color: #fff !important;
  }
}
